using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;
using System.Threading;
using Infra.Http;
using {{Subsystem}}.{{ServiceName}}.WebApi.Contracts;
using {{Subsystem}}.{{ServiceName}}.WebApi.Contracts.Requests;

namespace {{Subsystem}}.{{ServiceName}}.WebApi.Client
{
    public class {{Tag}}Client : I{{Tag}}Client
    {
        private ApiClient _client;

        public {{Tag}}Client(ApiClient client)
        {
            _client = client;
        }


{{#Operations}}
{{#IsVoid}}
{{#HasInput}}
	public Task {{Id}}({{Name}}Request request, CancellationToken cancelToken = default)
{{/HasInput}}
{{^HasInput}}
    public Task {{Id}}(CancellationToken cancelToken = default)
{{/HasInput}}
{{/IsVoid}}
{{^IsVoid}}
{{#HasInput}}
	public Task<{{ResultType}}> {{Id}}({{Name}}Request request, CancellationToken cancelToken = default)
{{/HasInput}}
{{^HasInput}}
    public Task<{{ResultType}}> {{Id}}(CancellationToken cancelToken = default)
{{/HasInput}}
{{/IsVoid}}
        {
{{#NotSupported}}
            throw new NotSupportedException("This operation is not yet supported by the client.");
{{/NotSupported}}
{{^NotSupported}}
            string path = $"{{Path}}?{{#queryParams}}{{Name}}={request.{{Name}}}&{{/queryParams}}";
{{#HasBody}}
{{#IsVoid}}
            return _client.{{HttpMethod}}Async<{{BodyType}}>(path, request.Body, cancelToken);
{{/IsVoid}}
{{^IsVoid}}
            return _client.{{HttpMethod}}Async<{{BodyType}}, {{ResultType}}>(path, request.Body, cancelToken);
{{/IsVoid}}
{{/HasBody}}
{{^HasBody}}
{{#IsVoid}}
            return _client.{{HttpMethod}}Async(path, cancelToken);
{{/IsVoid}}
{{^IsVoid}}
            return _client.{{HttpMethod}}Async<{{ResultType}}>(path, cancelToken);
{{/IsVoid}}
{{/HasBody}}
{{/NotSupported}}
        }
{{/Operations}}
    }
}