using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;

namespace {{Subsystem}}.{{ServiceName}}.WebApi.Client
{
    public interface I{{Tag}}Client
    {
        {{#Operations}}
		    Task<{{ResultType}}> {{Id}}();
        {{/Operations}}
    }

	public class {{Tag}}Client : I{{Tag}}Client
	{
		private ApiClient _client;

		public {{Tag}}Client(ApiClient client)
		{
			_client = client;
		}
    
        {{#Operations}}
		    
            {{#IsVoid}}
                public Task {{Id}}()
            {{/IsVoid}}
            {{^IsVoid}}
                public Task<{{ResultType}}> {{Id}}()
            {{/IsVoid}}
                {
			        string path = {{Path}};
                    return _client.{{HttpMethod}}Async<{{TRequest}},{{ResultType}}>(path);
		        }
        {{/Operations}}
        

	}
}