using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;
using System.Threading;

namespace {{Subsystem}}.{{ServiceName}}.WebApi.Client
{
    public interface I{{Tag}}Client
    {
{{#Operations}}
{{#NotSupported}}
    [Obsolete("This operation is not yet supported by the client.")]
{{/NotSupported}}
{{#IsVoid}}
{{#HasInput}}
	Task {{Id}}({{Name}}Request request, CancellationToken cancelToken = default);
{{/HasInput}}
{{^HasInput}}
    Task {{Id}}(CancellationToken cancelToken = default);
{{/HasInput}}
{{/IsVoid}}
{{^IsVoid}}
{{#HasInput}}
	Task<{{ResultType}}> {{Id}}({{Name}}Request request, CancellationToken cancelToken = default);
{{/HasInput}}
{{^HasInput}}
    Task<{{ResultType}}> {{Id}}(CancellationToken cancelToken = default);
{{/HasInput}}
{{/IsVoid}}
{{/Operations}}
    }
}
